---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/lessons/*.md');
const pageTitle: string = 'School';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Voici où je vais publier mes lessons</p>
  <ul>
    {
      allPosts.map(post => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
