---
const platform = 'github';
const username = 'withastro';
import Social from './Social.astro';
import ThemeIcon from './ThemeIcon.astro';
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: auto;
    justify-content: space-between;
    padding: 10px;
  }
</style>

<footer>
  <div>Copyright-2024</div>
  <ThemeIcon />
</footer>
