---
import Navigation from './Navigation.astro';
---

<header>
  <div class='navigation center-item'>
    <div id='Hamburger-menu'>
      <img src='../../public/menu.svg' alt='' width='35px' />
      <Navigation />
    </div>
  </div>
  <div class='logo'>
    <img src='../../public/Optimus-logo.webp' alt='' />
  </div>
  <div class='search center-item'>
    <img src='../../public/search.svg' alt='' width='35px' />
  </div>
</header>
