---
import Navigation from './Navigation.astro';
import { Image } from 'astro:assets';
import logo from '../images/logo.svg';
---

<header>
  <div class='navigation center-item'>
    <div id='Hamburger-menu'>
      <img src='../../public/menu.svg' alt='' width='35px' />
      <Navigation />
    </div>
  </div>
  <div class='logo'>
    <a href='/'>
      <Image
        src={logo}
        alt='logo du site internet savoir virtual'
        width='40'
        height='40'
        style={{ width: '40px', height: '40px', objectFit: 'contain' }}
      /></a
    >
  </div>
  <div class='search center-item'>
    <img src='../../public/search.svg' alt='' width='35px' />
  </div>
</header>
